<!DOCTYPE html>
<html lang="es">
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <% include header %>

    <% if (notelist.length > 0) { %>
      <ul><%
      for (var note of notelist) {
      %><li>
        <%= note.key %>:
        <a href="/notes/view?key=<%= note.key %>"><%= note.title %></a>
      </li><%
      }
      %></ul>
    <% } %>
      
    <% include footer %>
  </body>
</html>