<!DOCTYPE html>
<html>
<head>
    <% include headerStuff %>
</head>
<body>
    <% include header %>

    <form method='POST' action='/notes/destroy/confirm'>
        <input type='hidden' name='notekey' value='<%=
                             note ? notekey : "" %>'>
        <p>Delete <%= note.title %> ?</p>
        <br/>
        <input type='submit' value='DELETE' /> <a href="/notes/view?key=<%= 
        notekey %>">Cancel</a>
    </form>

    <% include footer %>
</body>
</html>