<!DOCTYPE html>
<html lang="es">
    <head>
        <% include headerStuff %>
    </head>
    <body>
        <% include header %>

        <form class="form-horizontal" method="POST" action="/notes/save">
            
            <input type='hidden' name='docreate' value='<%=
            docreate ? "create" : "update"%>'>

            <div class="form-group">
                <label for="notekey" class="col-sm-2 control-label">Key</label>
                <div class="col-sm-10">
                    <% if (docreate) { %>
                        <input type="text" class="form-control" name="notekey" id="notekey" placeholder="key">
                        <% } else { %>
                        <%= note ? notekey : "" %>
                        <input type='hidden' name='notekey' value='<%=
                        note ? notekey : "" %>'/>
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="title" placeholder="title" value='<%=
                note ? note.title : "" %>'>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <textarea name='body' class="form-control"><%=
                            note ? note.body : "" %></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" value="Submit">Submit</button>
                </div>
            </div>
        </form>

        <% include footer %>
    </body>
</html>