body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
  color: #00B7FF
}

.navbar-brand h1{
  font-size: 1em;
  padding: 0;
  margin: 0
}
  .navbar-brand h1 img{
    max-width: 1em
  }